.jumbotron {
    background-image: linear-gradient(to right, blue, purple);
    color: white;
}

label[for="cityinput"]  {
    font-weight: bold;
    font-size: 150%;
}

button {
    width: 100%;
}
ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
ul > button {
    margin: 5px;
    align-self: center;
    border-radius: 5px;
    padding: 5px;
}
#jumbo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
#icon {
    width: 40px;
    height: 30px;
}
#name {
    font-weight: bold;
    font-size: 125%;
}